<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MC Foundation</title>
    <link rel="dns-prefetch" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link rel="preconnect" href="https://showcase.funnelback.com/" crossorigin>
    <link rel="preconnect" href="https://kit.fontawesome.com/" crossorigin>
    <link rel="stylesheet" href="{{siteUrl}}assets/css/app.css?2019-9-23-758">
    <link rel="stylesheet" type="text/css" href="https://showcase.funnelback.com/s/resources-global/css/funnelback.autocompletion.css" />
    <link rel="stylesheet" href="https://use.typekit.net/cdp8vmz.css">
    {# <link rel="apple-touch-icon" sizes="180x180" href="{{ root }}assets/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ root }}assets/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ root }}assets/favicon/favicon-16x16.png">
    <link rel="manifest" href="{{ root }}assets/favicon/site.webmanifest">
    <link rel="mask-icon" href="{{ root }}assets/favicon/safari-pinned-tab.svg" color="#5bbad5"> #}
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">
    {#
    <!-- <meta property="og:image" content="{{ root }}assets/img/layout/og-image.png" />
    <meta property="og:image:type" content="image/jpeg" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" /> -->

    <!-- <script src="https://kit.fontawesome.com/2f872f69e9.js"></script> -->
    #}
    <script src="{{siteUrl}}assets/grunticon/grunticon.loader.js?2019-9-19-1020"></script>
    <noscript><link href="{{siteUrl}}assets/grunticon/icons.fallback.css?2019-9-19-1020" rel="stylesheet"></noscript>
  </head>
<body>


{% include "_partials/_header" %}
<main>
  {% block content %}
  {% endblock %}
</main>

{% include "_partials/_footer" %}
<script src="{{siteUrl}}assets/js/app.js?2019-9-23-758" defer></script>

</body>
</html>
