<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MC Foundation</title>
    <link rel="dns-prefetch" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link rel="preconnect" href="https://showcase.funnelback.com/" crossorigin>
    <link rel="preconnect" href="https://kit.fontawesome.com/" crossorigin>
    <link rel="stylesheet" href="{{siteUrl}}dist/assets/css/app.css?2019-9-23-758">
    <link rel="stylesheet" href="https://use.typekit.net/cdp8vmz.css">
    <script src="{{siteUrl}}dist/assets/grunticon/grunticon.loader.js?2019-9-19-1020"></script>
    <noscript><link href="{{siteUrl}}dist/assets/grunticon/icons.fallback.css?2019-9-19-1020" rel="stylesheet"></noscript>
  </head>
<body>


{% include "_partials/_header" %}
<main>
  {% block content %}
  {% endblock %}
</main>

{% include "_partials/_footer" %}
<script src="{{siteUrl}}dist/assets/js/app.js?2019-9-23-758" defer></script>

</body>
</html>
